@model ErrorModel;
@{
    ViewData["Title"] = "404";
    var code = Model.ErrorCode;
}

<div class="row-full color-scheme-navy d-flex align-items-center fh-fit" data-background=false>
    <div class="row-lg  d-flex flex-wrap-reverse align-items-center  py-sm-5">
        <div class="row-half d-flex flex-column" id="pnf-two">
            <h1>Oh no!</h1>
            <h5>page not found</h5>
            <p>While you're waiting, incorporating diaphragmatic breathing can help when you're feeling frustrated.</p>
            <p>It's as easy as inhaling for 8 seconds, holding for 4 seconds, then exhaling for 4 seconds.</p>
            <div class="row-full py-5">
                <a class="cta-button-w my-5 p-3" asp-controller="Home" asp-action="Index">Return Home</a>
            </div>
        </div>

        <div class="row-half d-flex flex-column bw mt-5" >
            <img src="https://images.unsplash.com/photo-1592963083551-30d6bb8486ac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1315&q=80" alt="Woman sitting, thinking" />
        </div>

    </div>
</div>





