@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />

@model swc.shewellness.Models.ContactModel;

<div id="body-padding-top"></div>

<div class="row-full">
    <div class="row-lg">
        <div class="row-full">
            <h3 class="text-red">Are you ready to have someone in your corner?</h3>
            <p>Book a free call to see if we're a good fit or answer any further questions you have. Just ready to get started? Book your initial consultation here and we can deep dive into your health assessment to start making sustainable changes as soon as possible!</p>
        </div>
        <div class="row-half">
            <!-- Practice Better Booking Widget: start -->
            <style>
                .better-inline-booking-widget {
                    position: relative;
                    overflow: hidden
                }

                    .better-inline-booking-widget iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%
                    }</style>
            <div class="better-inline-booking-widget m-auto py-3" data-url="https://my.practicebetter.io" data-booking-page="" data-hash="6399efc8800aa17401e0e86d" data-theme="222222" data-theme-accent="988780" style="width:100%;height:100%;min-height:800px;" data-scrollbar-visible="false"></div>
            <!-- Practice Better Booking Widget: end -->
        </div>
    </div>
</div>