@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />


<div id="contact-page"></div>
@*Progress bar*@
@*<div class="width-80 d-flex flex-wrap m-auto p-5">
    <form class="width-100 m-auto d-flex flex-wrap" id="frmName">
        <div class="width-100 py-2 px-4 m-2">
            <h3 class="text-navy">First, tell me a little about yourself</h3>
        </div>

                <div class="width-50 text-center">
                    <label for="firstName" class="" id="lbl-fn">First Name</label>
                    <input for="firstName" class="width-90 input" type="text" placeholder="Amber" value="" id="txt-fn" />
                    <warning for="firstName" class="width-90 warning d-none"><span class="br bg-red text-white px-3 mx-2">!</span>You must input a valid first name</warning>
                </div>
                <div class="width-50 text-center">
                    <label class="" id="lbl-ln">Last Name</label>
                    <input class="width-90 input" type="text" placeholder="Adkins" value="" />
                    <warning class="width-90 warning d-none"><span class="br bg-red text-white px-3 mx-2">!</span>You must input a valid last name</warning>
                </div>


        <div class="width-100 text-right px-4 m-2">
            <button class="cta-button next-btn">Next</button>
        </div>
    </form>
</div>
</div>*@

<script src="~/js/contact.js" asp-append-version="true"></script>