@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />

@model swc.shewellness.Models.ContactModel;

<div class="row-full color-scheme-none text-white d-flex align-items-center hh-fit first" data-background=true style="background-image:url(https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&height=600&width=auto); background-size: cover; background-repeat: no-repeat;">
    <div class="row-lg d-flex flex-wrap align-items-center" style="z-index: 5;">       
        <div class="row-half nomauto line-height-lg">
            <h3 class="animate">Send us a message!</h3>
        </div>
    </div>
    <div class="shadow"></div>
</div>


<div class="row-full">

    <div class="d-flex flex-wrap row-lg">
        <div class="row-half" id="">

            <p>Have questions, concerns or want to see how the process works? Reach out! The more details you are able to include regarding concerns, diagnosis or goals below will help me to answer in a reasonable, informative manner. Looking forward to chatting with you!</p>
        </div>


        <form class="row-half d-flex flex-wrap" asp-for="Contact" asp-action="Index">
            @Html.AntiForgeryToken()
            <div class="form-group row-half">
                <label asp-for="FirstName">First Name<span class="required">*</span></label>
                <input asp-for="FirstName" placeholder="Jess" />
                <error>Please enter a valid name</error>
            </div>
            <div class="form-group row-half">
                <label asp-for="LastName">Last Name<span class="required">*</span></label>
                <input asp-for="LastName" placeholder="Smith" />
                <error>Please enter a valid name</error>
            </div>

            <div class="form-group row-full">
                <label asp-for="Email">Email<span class="required">*</span></label>
                <input asp-for="Email" placeholder="JessSmith@Email.com" />
                <error>Please enter a valid email address</error>
            </div>

            <div class="form-group row-full">
                <label asp-for="Message">Message<span class="required">*</span></label>
                <textarea asp-for="Message"></textarea>
                <error>Please enter a valid message</error>
            </div>
            <div class="form-group row-full d-flex flex-row align-content-start my-auto">
                <input style="width: 25px; height: 25px;" asp-for="NewsletterSignUp" type="checkbox" />
                <label class="my-auto" asp-for="NewsletterSignUp">Would you like to sign up to recieve newsletters?</label>
            </div>

            <div class="py-4 px-2">
                <button class="cta-button p-3 btn" type="submit">Send Message</button>
            </div>
        </form>
    </div>


</div>