@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />

@model swc.shewellness.Models.ContactModel;

<div id="body-padding-top"></div>
<div class="row-full">

    <div class="d-flex flex-wrap row-lg">
        <div class="row-half">
            <h4>Get in touch!</h4>
            <p>Have questions, concerns or want to see how the process works? Reach out! Incorporating your specific concerns, diagnosis or goals below will help me to answer in a reasonable, informative manner. Looking forward to chatting with you!</p>
        </div>


        <form class="row-half d-flex flex-wrap" asp-for="Contact" asp-action="Index">
            @Html.AntiForgeryToken()
            <div class="form-group row-half">
                <label asp-for="FirstName">First Name<span class="required">*</span></label>
                <input asp-for="FirstName" placeholder="Jess" />
                <error>Please enter a valid name</error>
            </div>
            <div class="form-group row-half">
                <label asp-for="LastName">Last Name<span class="required">*</span></label>
                <input asp-for="LastName" placeholder="Smith" />
                <error>Please enter a valid name</error>
            </div>

            <div class="form-group row-full">
                <label asp-for="Email">Email<span class="required">*</span></label>
                <input asp-for="Email" placeholder="JessSmith@Email.com" />
                <error>Please enter a valid email address</error>
            </div>

            <div class="form-group row-full">
                <label asp-for="Message">Message<span class="required">*</span></label>
                <textarea asp-for="Message"></textarea>
                <error>Please enter a valid message</error>
            </div>

            <div class="py-4 px-2">
                <button class="cta-button p-3 btn" type="submit">Send Message</button>
            </div>
        </form>
    </div>


</div>