@{
    ViewData["Title"] = "Admin";
}

@model swc.shewellness.Models.AdminModel;

<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="row-full fh d-flex flex-column align-items-center" style="height: fit-content">
    <partial name="_AdminPartial" model="Model" />
    <form class="row-half d-flex flex-wrap" asp-for="Admin" asp-action="Index" id="adminloginsection">
        <div class="form-group d-flex flex-column row-full">
            <label asp-for="Username">Username</label>
            <input type="text" asp-for="Username">
        </div>
        <div class="form-group d-flex flex-column row-full">
            <label asp-for="Password">Password</label>
            <input type="password"  asp-for="Password">
        </div>
        <div class="py-4 px-2">
            <button class="cta-button p-3 btn" type="submit">Login</button>
        </div>
     </form>
</div>
