@{
    var year = System.DateTime.Today.Year;
}

<div class="row-lg d-flex flex-wrap">
    <div class="row-half d-flex flex-column">
        <div class="row-50 d-flex">
            <p class="underline">Let's take back your health</p>
        </div>
        <div class="row-50 d-flex flex-lg-nowrap flex-wrap">
            <a class="nav " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav " asp-area="" asp-controller="About" asp-action="Index">About</a>
            <a class="nav " asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
            <a class="nav " asp-area="" asp-controller="Contact" asp-action="Bookings">Book Now</a>
        </div>
    </div>
    <div class="row-half d-flex flex-column">
        <div class="row-50 d-flex">
            <p class="m-0">She Wellness Company</p>
        </div>
        <div class="row-50 d-flex">
            <p class="m-0">&copy All rights reserved - @year</p>
        </div>
    </div>
</div>
