<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="swc:image" property="og:image" content="https://instagram.forf1-3.fna.fbcdn.net/v/t51.2885-15/292276417_413541437387182_2494857351682512683_n.jpg?stp=dst-jpg_e35&_nc_ht=instagram.forf1-3.fna.fbcdn.net&_nc_cat=110&_nc_ohc=c3DtO5r_CFoAX-MXtsX&edm=ABmJApABAAAA&ccb=7-5&ig_cache_key=Mjg3ODIwMjY1MDAzOTQ3Njg3Ng%3D%3D.2-ccb7-5&oh=00_AfDo30lvnYYcgmnM3japJYFQZaynQbd940dswxSiyp9enA&oe=64D263FB&_nc_sid=b41fef" /> <!-- invalid, but expected -->
    <link property="image" href="https://instagram.forf1-3.fna.fbcdn.net/v/t51.2885-15/292276417_413541437387182_2494857351682512683_n.jpg?stp=dst-jpg_e35&_nc_ht=instagram.forf1-3.fna.fbcdn.net&_nc_cat=110&_nc_ohc=c3DtO5r_CFoAX-MXtsX&edm=ABmJApABAAAA&ccb=7-5&ig_cache_key=Mjg3ODIwMjY1MDAzOTQ3Njg3Ng%3D%3D.2-ccb7-5&oh=00_AfDo30lvnYYcgmnM3japJYFQZaynQbd940dswxSiyp9enA&oe=64D263FB&_nc_sid=b41fef" /> <!-- valid -->
    <title>@ViewData["Title"] | She Wellness Company</title>
    <link rel="icon" src="https://instagram.forf1-3.fna.fbcdn.net/v/t51.2885-15/292276417_413541437387182_2494857351682512683_n.jpg?stp=dst-jpg_e35&_nc_ht=instagram.forf1-3.fna.fbcdn.net&_nc_cat=110&_nc_ohc=c3DtO5r_CFoAX-MXtsX&edm=ABmJApABAAAA&ccb=7-5&ig_cache_key=Mjg3ODIwMjY1MDAzOTQ3Njg3Ng%3D%3D.2-ccb7-5&oh=00_AfDo30lvnYYcgmnM3japJYFQZaynQbd940dswxSiyp9enA&oe=64D263FB&_nc_sid=b41fef" width="30px" height="30px"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/swc.shewellness.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Shippori+Mincho:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;900&display=swap" rel="stylesheet">
    <script rel="preload" type="text/javascript" src="https://cdn.practicebetter.io/assets/js/booking.widget.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K7MCV4TW27"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-K7MCV4TW27');
</script>
<body>

    @{
        var color = "";
        if (ViewData["Title"] == "Home"){
            color = "none";
        }
        else {
            color = "tan";
        }
    }

    <header id="navigation-header" class="py-1 color-scheme-none">
       <nav class="d-flex flex-row justify-content-between" id="nav-container">
            <div class="row-half p-4">
                <a class="nav-title" asp-area="" asp-controller="Home" asp-action="Index">She Wellness Company</a>
            </div>
            <div class="row-half flex-row p-4 d justify-content-end">
                <div class="d-flex flex-row">
                <a class="nav mx-3" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav mx-3" asp-area="" asp-controller="About" asp-action="Index">About</a>
                <a class="nav mx-3" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                <a class=" mx-3 cta-button text-nowrap" asp-area="" asp-controller="Contact" asp-action="Bookings">Book Now</a>
                </div>
            </div>
            <div class="m-auto flex-column p-4 m" id="dropdown-button">
                <div class="lines text-right" id="line-1"></div>
                <div class="lines text-right" id="line-2"></div>
            </div>
        </nav>
    </header>

    <partial name="_MobileMenu" />
    
    <div>
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <footer class="color-scheme-none d-flex flex-row" style="z-index: 999 !important;" id="footer">
        <partial name="_FooterPartial">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/NewsletterPreview.js" asp-append-version="true"></script>
    <script src="~/js/animation.js" asp-append-version="true"></script>
    <script src="~/js/MobileMenu.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
