<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="She Wellness Company was founded on the principle of empowering women to take back control of their health. Using a whole-foods first approach combined with conventional and functional lab testing, we can help to uncover underlying root causes while aiming to reduce or eliminate symptoms, heal your relationship with food, nourish your body, and truly feel well.">
    <link property="image" href="@ViewData["Image"]" /> <!-- valid -->
    <title>@ViewData["Title"] | She Wellness Company</title>
    <link rel="icon" href="https://imgur.com/b6VYNx2"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/swc.shewellness.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Shippori+Mincho:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://i.imgur.com/QMAYwSJ.png" />
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K7MCV4TW27"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-K7MCV4TW27');
</script>
<body>

    @{
        var color = "white";
        var title = ViewData["Title"];
        if (title == "Home"){
            color = "none";
        }
        else {
            color = "white";
        }
    }

    <header id="navigation-header" class="nav-header py-1 color-scheme-@color" data-text-color="">
       <nav class="d-flex flex-row justify-content-between" id="nav-container">
            <div class="row-half p-4">
                <a class="nav-title nav-color-selectors" asp-area="" asp-controller="Home" asp-action="Index">She Wellness Company</a>
            </div>
            <div class="row-half flex-row p-4 d justify-content-end">
                <div class="d-flex flex-row">
                <a class="nav mx-3 nav-color-selectors" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav mx-3 nav-color-selectors" asp-area="" asp-controller="About" asp-action="Index">About</a>
                <a class="nav mx-3 nav-color-selectors" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                <a class=" mx-3 cta-button text-nowrap" asp-area="" asp-controller="Contact" asp-action="Bookings">Book Now</a>
                </div>
            </div>
            <div class="m-auto text-white flex-column p-4 m" id="dropdown-button">
                <div class="lines text-right" id="line-1"></div>
                <div class="lines text-right" id="line-2"></div>
            </div>
        </nav>
    </header>

    <partial name="_MobileMenu" />
    
    <div>
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <footer class="color-scheme-none d-flex flex-row" style="z-index: 999 !important;" id="footer">
        <partial name="_FooterPartial">
    </footer>
    <script async src="~/lib/jquery/dist/jquery.min.js"></script>
    <script async src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@*    <script aync src="~/js/NewsletterPreview.js" asp-append-version="true"></script>*@
    <script async src="~/js/animation.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
