<nav class="bg-navy m h-25">

    <div class="d-flex">
        <div class="width-80 p-3 m-auto">
            <a class="navbar-brand m text-white" asp-area="" asp-controller="Home" asp-action="Index">SW</a>
        </div>
        <div class="width-20 p-3 d-flex m-auto drp-close-btn justify-content-end" id="dropdown-icon">
            <div class="d-flex">
                <div class="lines mx-1" id="top-line"></div>
                <div class="lines mx-1" id="middle-line"></div>
                <div class="lines mx-1" id="bottom-line"></div>
            </div>
        </div>
    </div>

    <div class="width-100 h-100 m-auto text-center p-3 collapse menu">

        <ul class="m-auto text-center">
            <li class="nav-item mx-4">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item mx-4">
                <a class="nav-link text-white" asp-area="" asp-controller="About" asp-action="Index">My Story</a>
            </li>
            <li class="nav-item mx-4">
                <a class="nav-link text-white">Get in touch</a>
            </li>
            <li class="nav-item mx-4">
                <a class="nav-link text-white" asp-area="" asp-controller="Contact" asp-action="Index">Book Now</a>
            </li>
        </ul>
    </div>
</nav>