<div class="collapse flex-column bg-red" id="dropdown-mobile">
    <div class="row-lg d-flex flex-column text-center align-items-center">
        <a class="nav-link text-tan" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="nav-link text-tan" asp-area="" asp-controller="About" asp-action="Index">About</a>
        <a class="nav-link text-tan" asp-area="" asp-controller="About" asp-action="Resources">Resources</a>
        <a class="nav-link text-tan" asp-area="" asp-controller="Contact" asp-action="Index">Get In Touch</a>
        <a class="nav-link text-tan" asp-area="" asp-controller="Contact" asp-action="Bookings">Book Now</a>
    </div>

    <div class="row-half d-flex flex-row text-center">
        <div class="row-third text-center">ig</div>
        <div class="row-third text-center">fb</div>
        <div class="row-third text-center">tw</div>
    </div>
</div>