@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

@*Section 1*@
<div class="row-full bg-navy d-flex flex-column text-center" id="welcome">
    <div class="width-lg" id="welcome-content">
        <div class="width-full">
            <h3 class="text-white width-100"><span class="text-bg-animation">You</span> deserve to feel well. <br />
                <span style="font-size:1.6em;">Are you ready?</span></h3>
        </div>
        <div class="width-full text-center py-5">
            <a class="cta-button-wh p-3" asp-controller="Contact" asp-action="Bookings">Book a free call</a>
        </div>
    </div>
    <div id="background-overlay-welcome"></div>
</div>

<partial name="_OrgansPartial" />

@*section 3*@
<div class="row-full">
    <div class="row-lg d-flex flex-wrap animate bg-shadow text-white" id="woman-heart-hands">
        <div class="row-full bg-shadow">
            <div class="row-lg">
                <h3>Your feminine physiology is uniquely designed. Your nutrition should be that way too.</h3>
                <p>
                    Together, we incorporate an integrative approach to make food enjoyable again, reduce your symptoms and truly feel well. By utilizing real, science-backed nutrition with functional lab testing, we take a deep dive into your health to address underlying causes to make sustainable changes to meet you where you are.
                </p>
            </div>
            <div class="row-lg">
                <div class="">
                    <a class="cta-button-wh" asp-controller="Contact" asp-action="Index">Let's get started</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*About*@
<div class="row-full position-relative">
    <div class="row-lg d-flex flex-wrap animate position-relative nmauto">
        <div class="row-lg nomauto text-left" style="z-index:111;">
            <img src="https://i.imgur.com/vzMPPtE.jpg" width="70%" />
        </div>
        <div class="row-overlap br">
            <h2 >Hey, I'm Amber</h2>
            <p>I’m a mama, wife, Registered Nurse and Candidate for a Board-Certified Nutrition Specialist. Through my own health struggles, I have discovered the awe-inspiring power of food and the impact true nourishment can have on your symptoms and diagnosis. Now, I have set out on a mission to empower other women to do the same, be informed of their health and truly feel well. The rumors are false: you can have your health and eat your cookies too.</p>
        </div>
        <div class="row-shadow"></div>
    </div>
</div>

