<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

@{
    ViewData["Title"] = "About";
}

<div class="row-full color-scheme-navy d-flex align-items-center qh-hh first" data-background=false>
    <div class="row-lg d-flex flex-wrap align-items-center">
        <div class="row-half nomauto line-height-lg">
            <h3 class="animate">She Wellness Company was founded on the principle of <span class="font-background">empowering women</span> to take back control of their health</h3>
        </div>
    </div>
</div>

<div class="floating-image row-half">
    <img src="https://i.imgur.com/VgWoakd.jpg" />
</div>

<div class="row-full color-scheme-tan  d-flex  align-items-center hh-fit">
    <div class="row-lg d-flex flex-wrap align-items-center">
        <div class="row-half nomauto">
            <p class="animate">The female body is complex; with ever-changing hormones,<span class="strong"> our nutrient and lifestyle requirements are unable to fit inside the box of standard research and recommendations</span>.</p>
            <p class="strong animate">Here at She Wellness Company, we understand that you know your body best and we're ready to listen to your concerns.</p>
            <p class="animate">Using a whole-foods first approach combined with conventional and functional lab testing, we can help to uncover underlying root causes while aiming to reduce or eliminate symptoms, heal your relationship with food, nourish your body, and truly feel well.</p>
        </div>
    </div>
</div>

<div class="row-full color-scheme-none d-flex align-items-center" style="height: 75vh;">
    <div class="row-lg d-flex flex-wrap align-items-center">
        <div class="row-title nomauto">
            <h3>Learn more about a few steps of the process</h3>
        </div>
        <div class="row-half nomauto">
            @*item 1*@
            <div class="row-100 p-0 d-flex flex-wrap myths align-items-center my-auto">
                <div class="row-100 nomauto my-auto p-0 animate">
                    <h3 class="">01 Intitial Consultation</h3>
                    <p class="">
                        Based on individual needs, often further lab testing helps to identify nutrient deficiencies, absorption of nutrients, thyroid status, and any other red flags the body is trying to tell you. Functional lab testing goes one step beyond standard lab testing to assess hormone status, adrenal function, the gut microbiome and more. Common functional tests used are the GI MAP, DUTCH Sex Hormone Testing, DUTCH Adrenal Panel (Cortisol testing) and the Organic Acids Test (OAT). <br />
                        *While functional lab testing can be insightful, it is the most beneficial after establishing and meeting our basic needs.
                    </p>
                </div>
            </div>
            @*item 2*@
            <div class="row-100 p-0 d-none flex-wrap myths align-items-center my-auto">
                <div class="row-100 nomauto my-auto p-0 animate">
                    <h3 class="">02 Lab Testing</h3>
                    <p class="">
                        Using a whole-foods first approach, we combine your history, lab results and specific needs to come up with an individualized plan that fits your lifestyle. Often, targeted supplements are warranted in conjunction with nourishment. With a focus on education and empowering you to understand your health, you will have the knowledge to continue to implement these sustainable lifestyle changes long after our time together.
                    </p>
                </div>
            </div>
            @*item 3*@
            <div class="row-100 p-0 d-none flex-wrap myths align-items-center my-auto">
                <div class="row-100 nomauto my-auto p-0 animate">
                    <h3 class="">03 Implementation</h3>
                    <p class="">An individualized protocol to suit your lifestyle and needs utilizing a lifestyle and whole-foods-first approach with targeted supplement recommendations when indicated. Follow-up calls and further adjustments highly recommended for a minimum of 3 months.</p>
                </div>
            </div>
        </div>        
        <div class="row-third d-flex py-3 controls-container" style="height: 100px;">
            <div class="control" data-active="true" data-target="0"></div>
            <div class="control" data-active="false" data-target="1"></div>
            <div class="control" data-active="false" data-target="2"></div>
        </div>
    </div>
</div>


<div class="row-full color-scheme-navy d-flex align-items-center hh-fit">
    <div class="row-lg d-flex align-items-center">
        <div class="row-half d-flex flex-column nomauto">
            <h3 class="animate">Ready to get started?</h3>
            <p class="animate">Send us a message to begin your journey on taking back your health.</p>
            <div class="row-full py-5 animate">
                <a class="cta-button-w my-5 p-3" asp-controller="Contact" asp-action="Index">Get Started</a>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/gh/lsimpson6/vertical-slider@dbe4f5ef0b37ea64e9b7f2efebe175fa600310bf/script.js" rel="preload" type="text/javascript"></script>
