<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

@{
    ViewData["Title"] = "About";
}

<div class="row-full color-scheme-none d-flex  align-items-center qh-hh">
    <div class="row-lg d-flex flex-wrap align-items-center">
        <div class="row-half nomauto line-height-lg">
            <h3 class="animate">She Wellness Company was founded on the principle of <span class="font-background">empowering women</span> to take back control of their health</h3>
        </div>
    </div>
</div>

<div class="row-full color-scheme-navy  d-flex  align-items-center hh-fit">
    <div class="row-lg d-flex flex-wrap align-items-center">
        <div class="row-half nomauto">
            <p class="animate">The female body is complex; with ever-changing hormones,<span class="strong"> our nutrient and lifestyle requirements are unable to fit inside the box of standard research and recommendations</span>.</p>
            <p class="strong animate">Here at She Wellness Company, we understand that you know your body best and we're ready to listen to your concerns.</p>
            <p class="animate">Using a whole-foods first approach combined with conventional and functional lab testing, we can help to uncover underlying root causes while aiming to reduce or eliminate symptoms, heal your relationship with food, nourish your body, and truly feel well.</p>
        </div>
    </div>
</div>

<div id="the-process"></div>
@*start*@
<div class="row-full color-scheme-none">
    <div class="row-lg d-flex flex-wrap">
        <div class="row-100 d-flex flex-wrap nomauto">
            <div class="row-half animate">
                <img src="https://images.unsplash.com/photo-1603202662706-62ead3176b8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=738&q=80" height="600px" width="auto" alt="" />
            </div>            
            <div class="row-half animate">
                <h3 class="">01 Intitial Consultation</h3>
                <p class="text-sm">
                    Based on individual needs, often further lab testing helps to identify nutrient deficiencies, absorption of nutrients, thyroid status, and any other red flags the body is trying to tell you. Functional lab testing goes one step beyond standard lab testing to assess hormone status, adrenal function, the gut microbiome and more. Common functional tests used are the GI MAP, DUTCH Sex Hormone Testing, DUTCH Adrenal Panel (Cortisol testing) and the Organic Acids Test (OAT). <br />
                    *While functional lab testing can be insightful, it is the most beneficial after establishing and meeting our basic needs.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row-full color-scheme-none">
    <div class="row-lg d-flex flex-wrap">
        <div class="row-100 d-flex flex-wrap nomauto">
            <div class="row-half animate">
                <img src="https://burst.shopifycdn.com/photos/gloved-hand-and-test-tube.jpg?width=1850&format=pjpg&exif=1&iptc=1"  height="600px" width="auto" alt="" />
            </div>
            <div class="row-half animate">
                <h3 class="">02 Lab Testing</h3>
                <p class="text-sm">Using a whole-foods first approach, we combine your history, lab results and specific needs to come up with an individualized plan that fits your lifestyle. Often, targeted supplements are warranted in conjunction with nourishment. With a focus on education and empowering you to understand your health, you will have the knowledge to continue to implement these sustainable lifestyle changes long after our time together. </p>
            </div>
        </div>
    </div>
</div>

<div class="row-full color-scheme-none">
    <div class="row-lg d-flex flex-wrap">
        <div class="row-100 d-flex flex-wrap nomauto">
            <div class="row-half animate">
                <img src="https://burst.shopifycdn.com/photos/flatlay-iron-skillet-with-meat-and-other-food.jpg?width=1850&format=pjpg&exif=1&iptc=1"  height="600px" width="auto" alt="" />
            </div>            
            <div class="row-half animate">
                <h3 class="">03 Implementation</h3>
                <p class="text-sm">An individualized protocol to suit your lifestyle and needs utilizing a lifestyle and whole-foods-first approach with targeted supplement recommendations when indicated. Follow-up calls and further adjustments highly recommended for a minimum of 3 months.</p>
            </div>
        </div>
    </div>
</div>

<div class="row-full color-scheme-navy d-flex align-items-center hh-fit">
    <div class="row-lg d-flex align-items-center">
        <div class="row-half d-flex flex-column nomauto">
            <h3 class="animate">Ready to get started?</h3>
            <p class="animate">Send us a message to begin your journey on taking back your health.</p>
            <div class="row-full py-5 animate">
                <a class="cta-button-w my-5 p-3" asp-controller="Contact" asp-action="Index">Get Started</a>
            </div>
        </div>
    </div>
</div>
