<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

@{
    ViewData["Title"] = "About";
}

<div class="row-full d-flex flex-wrap-reverse align-items-center py-0">
    <div class="row-half ">
        <div class="width-full nmauto px-0">
            <h3>She Wellness Company was founded on the principle of empowering women to take back control of their health</h3>
        </div>
        <div class="width-full">
            <p>The female body is complex; with ever-changing hormones, our nutrient and lifestyle needs often do not fit inside the box of standard research and doctor recommendations. Intuitively, you know when something feels off and here at She Wellness Company we’re ready to listen to your concerns.</p>
            <p>Using a whole-foods first approach combined with conventional and functional lab testing, we can help to uncover underlying root causes while aiming to reduce symptoms, heal your relationship with food, nourish your body and truly feel well.</p>
        </div>
    </div>
    <div class="row-half" id="about-image">
    </div>
</div>


<div id="the-process"></div>
@*The process*@
<div class="row-full bg-tan">
    <div class="row-lg d-flex flex-wrap">
        <div class="row-full animate">
            <h3>How it works</h3>
        </div>
        <div class="row-full d-flex flex-wrap">
            <div class="row-half img-grow-s animate" id="how-it-works-1">
            </div>
            <div class="row-half animate">
                <h3 class="text-shadow">01<br />Intitial Consultation</h3>
                <p class="text-sm">
                    Based on individual needs, often further lab testing helps to identify nutrient deficiencies, absorption of nutrients, thyroid status, and any other red flags the body is trying to tell you. Functional lab testing goes one step beyond standard lab testing to assess hormone status, adrenal function, the gut microbiome and more. Common functional tests used are the GI MAP, DUTCH Sex Hormone Testing, DUTCH Adrenal Panel (Cortisol testing) and the Organic Acids Test (OAT).
                    <br />*While functional lab testing can be insightful, it is the most beneficial after establishing and meeting our basic needs.
                </p>
            </div>

        </div>

        <div class="row-full d-flex flex-wrap">
            <div class="row-half img-grow-s animate" id="how-it-works-2">
            </div>
            <div class="row-half animate">
                <h3 class="text-shadow">02<br />Lab Testing</h3>
                <p class="text-sm">Using a whole-foods first approach, we combine your history, lab results and specific needs to come up with an individualized plan that fits your lifestyle. Often, targeted supplements are warranted in conjunction with nourishment. With a focus on education and empowering you to understand your health, you will have the knowledge to continue to implement these sustainable lifestyle changes long after our time together. </p>
            </div>
        </div>

        <div class="row-full d-flex flex-wrap animate">
            <div class="row-half img-grow-s animate" id="how-it-works-3">
            </div>
            <div class="row-half animate">
                <h3 class="text-shadow">03<br />Implementation</h3>
                <p class="text-sm">An individualized protocol to suit your lifestyle and needs utilizing a lifestyle and whole-foods-first approach with targeted supplement recommendations when indicated. Follow-up calls and further adjustments highly recommended for a minimum of 3 months.</p>
            </div>
        </div>
    </div>

</div>
