@{
    ViewData["Title"] = "My Story";
}

<div class="body-padding-top"></div>

<div class="row-full">
    <div class="row-lg">
        <h3 class="">About She Wellness Co</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>


<div id="the-process"></div>
@*The process*@
<div class="row-full bg-tan">
    <div class="row-lg d-flex flex-wrap ">
        <div class="row-full">
            <div class="row-half nmauto">
                <h4>Being healthy made simple</h4>
                <p>Your body is unique, the internet can have suggstions but they may not be right for you. We make it easy, learn more about our process.</p>
            </div>

        </div>
        <div class="row-third nmauto">
            <h3 class="text-shadow">01<br />Intitial Consultation</h3>
            <p class="text-sm">An in-depth analysis at every aspect of your life from birth to present, assessment of reproductive health, mental health, gut health, sleep hygine, food relationship and knowdlege.</p>
        </div>

        <div class="row-third nmauto">
            <h3 class="text-shadow">02<br />Lab Testing</h3>
            <p class="text-sm">Based on individual needs, further lab testing may be warrented. Examples may vary from functional thryoid panels, nutrient and mineral status to functional testing evaluating sex and stress hormones as well as an in-depth look at the gut in microbiome.</p>
        </div>

        <div class="row-third nmauto">
            <h3 class="text-shadow">03<br />Implementation</h3>
            <p class="text-sm">An individualized protocol to suit your lifestyle and needs utilizing a lifestyle and whole-foods-first approach with targeted supplement recommendations when indicated. Follow-up calls and further adjustments highly recommended for a minimum of 3 months.</p>
        </div>
    </div>

</div>
