#how-it-works-1, #how-it-works-2, #how-it-works-3 {
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    max-height: 600px;
}

#how-it-works-1 {
    background-image: url("https://images.unsplash.com/photo-1603202662706-62ead3176b8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=738&q=80");
}

#how-it-works-2 {
    background-image: url("https://burst.shopifycdn.com/photos/gloved-hand-and-test-tube.jpg?width=1850&format=pjpg&exif=1&iptc=1");
}

#how-it-works-3 {
    background-image: url("https://burst.shopifycdn.com/photos/flatlay-iron-skillet-with-meat-and-other-food.jpg?width=1850&format=pjpg&exif=1&iptc=1");
}

#about-image, #section-two {
    background-image: url(https://images.unsplash.com/photo-1504194921103-f8b80cadd5e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    height: 100vh;
    width: 50%;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.font-background {
    background-color: #8F6152;
    width: 100%;
    height: auto;
    padding: .5% 1% .5% 1%;
    color: #ffffff;
}

.line-height-lg h3 {
    line-height: 60px;
}

@media screen and (max-width: 850px) {

    .color-scheme-none .nav, .color-scheme-none .nav-title, .color-scheme-none .lines {
        color: #000000 !important;
    }
    .color-scheme-none .lines {
        background-color: #000000;
    }
    .color-scheme-tan .nav, .color-scheme-tan .nav-title {
        color: #000000 !important;
    }

    .line-height-lg h3 {
        line-height: 35px;
    }

    #about-image, #section-two {
        height: 30vh;
        width: 100%;
        top: 0;
    }
}