#contact-page {
    margin-top:10%;
    min-height:100%;
    margin: auto;
}

#contact-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color:rgb(256,256,256,.7);
}

#contact-text-head h1{
    position: absolute;
}

    #contact-text-head h1:nth-of-type(1) {
        color: #000000;
        top: 50%;
        z-index: 3;
        left: 50%;
        transform: translate(-50%, -50%)
    }
/*    #contact-text-head h1:nth-of-type(2) {
        color: #E7DED9;
        top: 45px;
        opacity: 1;
        z-index: 2;
        left: 11%;
    }

    #contact-text-head h1:nth-of-type(3) {
        top: 80px;
        opacity: .5;
        z-index: 1;
        color: #988780;
        left: 12%;
    }*/

#contact-image {
    background-image: url(https://images.unsplash.com/photo-1456324504439-367cee3b3c32?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2400&q=80);
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-position: 70%;
    z-index: 1;
}

.contact-progress-circle {
    z-index: 1000;
    padding: .5% 2% .5% 2%;
    border-radius: 5px;
    border: 2px solid #8F6152;
}

.contact-progress-circle p {
    margin-top:5px;
}

.contact-progress-line {
    z-index: 1000;
    background-color: #8F6152;
    width: 10%;
    height: 2px;
    top: 15%;
    transform: translate(50%, 5%);
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 1% 0% 1% 0% !important;
}

label, error {
    color: #13292A;
    width: auto;
    padding: 0% 2% 0% 2%;
    font-size: 1em;
}

error {
    color: indianred !important;
}

input, textarea {
    height: 50px;
    border: 2px solid #988780;
    border-radius: 5px;
    color: #13292A;
    margin: auto;
    font-size: 1.2em;
    margin: 2%;
    padding: 2%;
}

textarea {
    height: 150px !important;
}

button {

}

warning {
    text-align: left;
    width: 100%;
    border: 0px;
    color: #8F6152;
}

.required {
    margin-left: 1%;
    color:red;
    font-size: 1em;
}

#lbl-fn {
    left: 18%;
}

#lbl-ln {
    left: 55%;
}

.incorrect-field {
    color: #000000;
    animation: incorrect .2s ease 3;
}

@keyframes incorrect {
    0% {
        color: darkred;
        transform: translateX(0px);
    }
    50% {
        color: darkred;
        transform: translateX(10px);
    }
    100% {
        color: darkred;
        transform: translateX(-10px);
    }

}

@media screen and (max-width: 850px){
    #contact-shadow {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0,.2);
    }
    #contact-text-head h1:nth-of-type(1) {
        left: 40%;
    }
}