/*#welcome {
    background-image: url(https://i.imgur.com/gDGwHcJ.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 90vh;
    width: 60vh;

}*/

#welcome-image, #section-two {
    background-image: url(https://i.imgur.com/gDGwHcJ.png); 
    height: 100vh;
    width: 50%;
    top:0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#organs-side-image {
    background-image: url(https://images.unsplash.com/photo-1532636785204-753cb2c25594?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
    height: 70vh;
}

.invisible-mouse-grid {
    background-color: transparent;
    height: 33vh;
    width: 33%;
    position: absolute;
}

.invisible-mouse-grid:nth-of-type(1) {
    left: 0%;
    top:0%
}
.invisible-mouse-grid:nth-of-type(2) {
    left: 33%;
    top:0%;
}
.invisible-mouse-grid:nth-of-type(3) {
    left: 66%;
    top: 0%;
}
.invisible-mouse-grid:nth-of-type(4) {
    left: 0%;
    top: 33%;
}
.invisible-mouse-grid:nth-of-type(5) {
    left: 33%;
    top: 33%;
}
.invisible-mouse-grid:nth-of-type(6) {
    left: 66%;
    top: 33%;
}
.invisible-mouse-grid:nth-of-type(7) {
    left: 0%;
    top: 66%;
}
.invisible-mouse-grid:nth-of-type(8) {
    left: 33%;
    top: 66%;
}
.invisible-mouse-grid:nth-of-type(9) {
    left: 66%;
    top: 66%;
}


.shadow-text {
    opacity: .7;
    z-index: 2;
    position: absolute;
    left: 55%;
    top:48%;
    letter-spacing: 2px;
    /*color: #c9bdb1;*/
}
.overlay-text {
    transition: ease .3s all;
    z-index: 3;
    position: absolute;
    left: 55%;
    top:48%;
    letter-spacing: 2px;
    /*color: #c9bdb1;*/
}

.fixed {
    position: fixed !important;
}

#down-arrow {
    position: absolute;
    z-index: 999 !important;
    left: 90%;
    top: 80vh;
    cursor: pointer;
}
#down-arrow svg {
    width: 70px;
    height: auto;
    transform: translateY(0px);
    cursor: pointer;
}

#scroll-text {
    position: absolute; 
    left: -50%;
    top:25%;
    transform: translate(25%, 00%);
}

@keyframes mda {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    25% {
        transform: translateY(25px);
        opacity: 1;
    }
    50% {
        transform: translateY(50px);
        opacity: 0;
    }
    75% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

.organ-card {
    position: relative;
    width: 300px;
    height: 500px;
    background-color: #f1f1f1;
    padding: 3% 3% 9% 3%;
    margin: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.organ-card svg {
    padding:6%;
    margin: auto;
    text-align: center;
    width: 150px;
}

.organ-card p {
    text-align: left;
    padding: 4%;
}


#background-overlay-welcome {
    background-color: rgba(0,0,0,.45);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2 !important;
}


#welcome-content {
    width: 100%;
    z-index: 3 !important;
    position: inherit;
    background-attachment:fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 50%);
}
#womens-health {
    background-image: url(https://images.unsplash.com/photo-1488778578932-0f84d315fcae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=762&q=80g);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
}


#woman-heart-hands {
    background-image: url(https://i.imgur.com/3w9SEZt.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
}

#amber-headshot {
    background-image: url(https://i.imgur.com/vzMPPtE.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
}

.bg-Highlight-navy {
    z-index: 1;
    position: absolute;
    border-radius: 5px;
    width: 40%;
    height: 125px;
    background-color: #8F6152;
    transform: translate(-0%, 10%);
    animation: bgHighlight 2.5s ease-out 1;
}

.bg-Highlight-red {
    z-index: 1;
    position: absolute;
    border-radius: 5px;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    width: 40%;
    height: 125px;
    background-color: #8F6152;
    transform: translate(-0%, 10%);
    animation: bgHighlight 2s ease-in-out 1;
}

@keyframes bgHighlight {
    from {
        width: 0%;
    }

    to {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {

    .organ-card {
        height: 350px;
        margin: 2% auto 2% auto;
    }

    .organ-card svg {
        padding: 6%;
        margin: auto;
        text-align: center;
        width: 150px;
    }

    .organ-card p {
        text-align: center;
        padding: 4%;
    }

    #woman-heart-hands, #womens-health, #amber-headshot, #organs-side-image {
        height: 40vh;
    }

    .bg-Highlight-navy {
        width: 100%;
        height: 80px;
    }

    @keyframes bgHighlight {
        from {
            width: 0%;
        }

        to {
            width: 100%;
        }
    }

    .shadow-text {
        opacity: 1;
        z-index: 2;
        position: absolute;
        left: 10%;
        top: 40%;
        letter-spacing: 2px;
        /*color: #c9bdb1;*/
    }

    .overlay-text {
        display: none;
    }
}

#location-4 {
    top: 65%;
}

#location-work-line {
    top: 70%;
}

#location-5 {
    top: 80%;
}

.owner-headshot img {
    border-radius: 5px;
    text-align: center;
    width: 50%;
}


.organs-icon svg {
    width: 100px;
    height: 100px;
}

.fh-hh, .fh, .fh-fit {
    height: 100vh;
}


@media screen and (max-width: 768px) {
    .fh {
        height: 80vh;
    }

    .fh-hh {
        height: 50vh;
    }

    .fh-fit {
        height: fit-content;
    }

    .shadow-overlay {
        background-color: rgba(0,0,0,.6);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
    }

    #welcome-image, #section-two {
        width: 100%;
    }

    .invisible-mouse-grid {
        display: none;
    }

    #welcome {
        position: relative;
        background-attachment: initial;
        background-repeat: no-repeat;
    }

    .shadow-text {
        opacity: 1;
        z-index: 2;
        position: absolute;
        left: 10%;
        top: 40%;
        letter-spacing: 2px;
        /*color: #c9bdb1;*/
    }

    .overlay-text {
        display: none;
    }

    .fixed {
        position: fixed !important;
    }

    #down-arrow {
        position: absolute;
        z-index: 999 !important;
        left: 10%;
        top: 80%;
        cursor: pointer;
    }

    #down-arrow svg {
        width: 70px;
        height: auto;
        transform: translateY(0px);
        cursor: pointer;
        fill: #ffffff;
    }

    .svg-arrow {
        width: 10%;
        transform: rotate(90deg);
        top: 105.5%;
        left: 45%;
    }

    .location-check, .location-line {
        display: none;
    }

    .owner-headshot img {
        border-radius: 5px;
        text-align: center;
        width: 90%;
    }

    .card-img img {
        width: 100%;
    }
}
