html, body {
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}

.disable-scroll {
    overflow-y:hidden;
}

.collapse {
    opacity:0;
    display: none;
}

.nomauto {
    margin:0px !important;
}

#navigation-header {
    transition: all .3s ease;
    z-index: 999;
    position: fixed;
    width: 100%;
}

#nav-container {
    transition: all .3s ease;
    margin: auto;
    width: 100%;
}

.nav {
    width: auto;
    margin: auto 5px auto 5px;
}

    .nav:after {
        content: "";
        position: absolute;
        top: 35%;
        width: 0;
        height: 2.5px;
        background-color: #8F6152;
        transition: width .3s ease-in-out;
    }

.nav:after:nth-of-type(1) {
    left: 68%;
}

.nav:after:nth-of-type(1) {
    left: 78%;
}

.nav:after:nth-of-type(1) {
    left: 98%;
}

.nav:hover::after{
    width: 50px;
}

.gradient-text {
    background: -webkit-linear-gradient(45deg, #988780, #c9bdb1 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav, .nav-title {
    /*text-decoration: overline 2px solid transparent;*/
    color: #ffffff;
    margin: auto;
    transition: all .3s ease;
    min-width: 40px;

}

    .nav-title:hover {
        opacity: 1;
        /*text-decoration: overline 2px solid transparent;*/
        color: inherit;
    }

.open {
    display: flex;
}

.page {
    height: 100vh;
    width: 100%;
}

.br {
    border-radius: 5px;
}

.br-c {
    border-radius: 2.5px;
}

.d {
    display: flex;
}

.m {
    display: none;
}

.text-right, .text-right-lg {
    text-align: right;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.bg-shadow {
    padding: 3% !important;
    background-color: rgb(0, 0, 0, .5);
    border-radius: 5px;
}

#body-padding-top {
    padding-top:80px;
}

.tc-lg {
    text-align: center;
}

.organ-card, .cards {
    position: relative;
    padding: 3% 3% 9% 3%;
    margin: 2%;
    text-align: center;
    display: flex;
}

.organ-card {
    flex-direction: column !important;
    width: 300px;
    height: 500px;
}

.cards {
    flex-direction: row;
    background-color: transparent;
    width: 400px;
    height: fit-content;
}

.cards p, .cards h1, .cards h2, .cards h3, .cards h4, .cards h5 {
    text-align: left;
}

.card img {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    object-fit: cover;
}

    .organ-card svg {
        padding: 6%;
        margin: auto;
        text-align: center;
        width: 150px;
    }

    .organ-card p {
        text-align: left;
        padding: 4%;
    }


#fourfour{
    position: relative;
    flex-wrap: wrap;
    
    margin: auto 30% auto 30%;
    text-align: center;
}

#pagenotfound {
    margin: auto;
    margin-top: 5%;
    max-width: 400px;
    text-align: center;
}

.error-lbl {
    position: relative;
    margin: auto;
    flex-direction: row;
    background-color: #f1f1f1;
    width: 100px;
    height: 100px;
    color: #000000;
    border-radius: 3%;
    margin-top:5%;
    margin-bottom:5%;
}

.error-lbl h1 {
    color: #000000;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    mix-blend-mode:revert;
}


#mouth {
    margin: 5% auto 5% auto;
    width: 200px;
    height: 70px; /* as the half of the width */
    border-top-left-radius: 1300px; /* 100px of height + 10px of border */
    border-top-right-radius: 1300px; /* 100px of height + 10px of border */
    border: 10px solid gray;
    border-bottom: 0;
}




    @media screen and (max-width: 768px) {

        .nav-title, .color-scheme-none .nav-title {
            color: white !important;
        }

        .nav-title, .color-scheme-tan .nav-title {
            color: #000000 !important;
        }

        .tc-sm {
            text-align: center;
        }

        .tc-lg {
            text-align: left;
        }

        #body-padding-top {
            padding-top: 80px;
        }

        .d {
            display: none;
        }

        .m {
            display: flex;
        }
    }

    /* dropdown */
    nav {
        z-index: 999;
    }

    .lines {
        width: 30px;
        height: 2px;
        border-radius: 1px;
        margin: 2px 0px 2px 0px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .rotated {
        transform-origin: 40%;
        transform: rotate(50deg);
        -webkit-transform: rotate(50deg);
        -moz-transform: rotate(50deg);
        -o-transform: rotate(50deg);
    }

    .rotated-inverse {
        transform-origin: 35%;
        transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        -moz-transform: rotate(-50deg);
        -o-transform: rotate(-50deg);
    }

    #dropdown-mobile {
        z-index: 998;
        position: fixed;
        padding-top: 50%;
        height: 100vh;
        width: 100%;
        transition: all 1s ease;
    }


    /*@keyframes drpMobileShowComp {
from {
    height: 100px;
    width: 100px;
}

to {
    height: 1500px;
    width: 1500px;
}
}*/


    /*Text Types*/

    .lh-large {
        line-height: 150%;
    }

    .text-sm {
        font-size: 1.2em;
    }

    .underline {
        text-decoration: underline;
        text-underline-offset: 10px;
    }

    @media (max-width:768px) {


        .organ-card {
            height: 350px;
            margin: 2% auto 2% auto;
        }

            .organ-card svg {
                padding: 6%;
                margin: auto;
                text-align: center;
                width: 150px;
            }

            .organ-card p {
                text-align: center;
                padding: 4%;
            }

        .text-sm-right {
            text-align: right;
        }

    }


    .animate {
        opacity: 0;
    }
    /*Text Colors*/

    .text-left {
        text-align: left;
    }

    .text-white {
        color: #FFFFFF;
    }

    .text-tan {
        color: #E7DED9;
    }

    .text-light-brown {
        color: #988780;
    }

    .text-dark-brown {
        color: #695853;
    }

    .text-red {
        color: #8F6152;
    }

    .text-navy {
        color: #13292A;
    }

    .text-shadow {
        color: rgba(0,0,0,.6);
    }


    /*fade */

    .fade-up {
        animation: fadeUp .8s ease 1;
    }

    @keyframes fadeUp {
        from {
            opacity: 0;
            transform: translateY(10%);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    /*Background Colors*/
    .focus-bg-red {
        background-color: #8F6152;
        color: #E7DED9;
        text-align: center;
        border-radius: 5px;
        padding: .8%;
    }

    .bg-white, .bg-none {
        background-color: #ffffff;
    }

    .color-scheme-navy {
        background-color: #13292A;
        color: #ffffff;
    }

    .color-scheme-red {
        background-color: #8F6152;
        color: #ffffff;
    }

    .color-scheme-none {
        background-color: transparent;
        color: #000000;
    }

        .color-scheme-none .nav, .color-scheme-none .nav-title {
            color: #000000;
        }

        .color-scheme-none .lines {
            background-color: #ffffff;
        }

    .color-scheme-tan .lines {
        background-color: #000000;
    }

    .color-scheme-none .nav:hover {
        transition: all .3s ease;
        /*text-decoration: overline 2px solid #000000;*/
        color: #000000;
        opacity: .8;
    }

    .color-scheme-tan {
        background-color: #E7DED9;
        color: #000000;
    }

        .color-scheme-tan .nav, .color-scheme-tan .nav-title {
            color: #000000;
        }

            .color-scheme-tan .nav:hover {
                transition: all .3s ease;
                /*text-decoration: overline 2px solid #000000;*/
                color: #000000;
                opacity: .8;
            }

    .bg-tan {
        background-color: #E7DED9;
    }

    .bg-navy {
        background-color: #13292A;
    }

    .bg-red {
        background-color: #8F6152;
    }

    .bg-light-brown {
        background-color: #988780;
    }

    .bg-dark-brown {
        background-color: #695853;
    }


    /*Buttons*/

    /*.cta {
    padding: 1% 0% 1% 0%;
    text-align: center;
}*/

    .cta-button, .cta-button-w {
        cursor: pointer;
        transition-duration: .3s;
        border: 2px solid transparent;
        background-color: #8F6152;
        color: #E7DED9;
        text-align: center;
        border-radius: 5px;
        font-size: 1.2em;
        padding: 10px;
    }

        .cta-button-w:hover {
            border: 2px solid #8F6152;
            background-color: transparent;
            color: inherit;
        }

        .cta-button:hover {
            border: 2px solid #8F6152;
            background-color: transparent;
            color: #8F6152;
        }


    .nmauto {
        margin: 0% !important;
    }
    /*Widths*/

    .row-overlap {
        z-index: 100;
        background-color: #ffffff;
        position: absolute;
        right: 0%;
        height: auto;
        width: 60%;
        padding: 2%;
        top: 50%;
        transform: translate(30%, -50%);
    }

    .row-shadow {
        z-index: 1;
        background-color: #13292A;
        opacity: 1;
        position: absolute;
        left: 0%;
        height: 300px;
        width: 100vw;
        bottom: 0%;
        transform: translate(0%, 5.5%);
    }

    .bw img {
        filter: grayscale(100%);
    }

    img {
        max-height: 600px;
        max-width: 400px;
        z-index: 0;
        object-fit: cover;
    }


    @media (max-width: 768px) {
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .row-overlap {
            position: relative;
            transform: translate(0%, 0%);
            width: 100%;
        }

    }

    /*circles*/

    .bg-cirlce-1 {
        position: absolute;
        border-radius: 100%;
        width: 200px;
        height: 200px;
    }

    .bg-cirlce-2 {
        position: absolute;
        border-radius: 100%;
        width: 150px;
        height: 150px;
    }

    .bg-cirlce-3 {
        position: absolute;
        border-radius: 100%;
        width: 100px;
        height: 100px;
    }

    .bg-cirlce-4 {
        position: absolute;
        border-radius: 100%;
        width: 50px;
        height: 50px;
    }

    /*Footer*/

    footer {
        z-index: 3000;
    }

        footer p, footer a, .text-normal {
            font-size: 1.2em !important;
            text-transform: none;
        }

    .social-icons {
        margin: auto;
        text-align: right;
    }

        .social-icons svg {
            width: 40px;
            height: 40px;
        }

    @media screen and (max-width: 1000px) {

        .first {
            padding-top:300px;
        }

        .cta {
            text-align: left;
        }

        .social-icons svg {
            width: 160%;
            height: 160%;
        }

        .social-icons {
            margin: 10%;
        }
    }

    /*animation to fade in */

    .fade-in {
        animation: fadeIn 1s ease-in 1;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-30%);
        }

        from {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    /*Links*/

    @media screen and (max-width: 1000px) {
        a:hover {
            opacity: .8;
        }

        .nav-link:hover {
            color: inherit;
            border-top: 2px solid transparent;
        }
    }

    error {
        opacity: 0;
        color: indianred;
        font-size: .8em;
    }