html {
    font-family: 'Cormorant Garamond', serif;
    overflow-x:hidden;
}

.disable-scroll {
    overflow-y:hidden;
}

.collapse {
    display: none;
}

.open {
    display: flex;
}

.body-padding-top {
    padding:3%;
}

#navigation-color{
    transition: all .3s ease;
}

.page {
    height: 100vh;
    width: 100%;
}

.br {
    border-radius: 5px;
}

.br-c {
    border-radius: 2.5px;
}

.d {
    display: flex;
}

.m {
    display: none;
}

.text-right {
    text-align: right;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.bg-shadow {
    background-color: rgb(0, 0, 0, .5);
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .d {
        display: none;
    }

    .m {
        display: flex;
    }
}

/* dropdown */
nav {
    z-index:999;
}

.lines {
    width: 30px;
    height: 4px;
    background-color: #E7DED9;
    border-radius: 5px;
    margin: 2px 0px 2px 0px;
}

#dropdown-mobile {
    z-index: 998;
    position: fixed;
    background-color: red;
    height: 100vh;
    width: 100%;
    transition: all 1s ease;
}


/*@keyframes drpMobileShowComp {
    from {
        height: 100px;
        width: 100px;
    }

    to {
        height: 1500px;
        width: 1500px;
    }
}*/


/*Text Types*/
h1 {
    font-size: 4em;
    font-weight: 500;
}

    h2 {
        font-size: 3.5em;
    }

    h3 {
        font-size: 2.5em;
        font-weight: 500;
    }

    h4 {
        font-size: 2em;
    }

    h5 {
        font-size:1.7em
    }

    a {
        text-decoration: none;
        font-size: 1em;
        text-transform: uppercase;
    }

    a:hover {
        color: inherit;
        opacity: .8;
    }

    p {
        font-size: 1.4em;
    }

    .lh-large {
        line-height: 150%;
    }

    .text-sm {
        font-size:1.2em;
    }

    @media (max-width:1000px) {
        .body-padding-top {
            padding: 10%;
        }

        .text-sm-right {
            text-align: right;
        }

        p {
            font-size: 1.2em;
            font-weight: 300;
        }

        h1 {
            font-size: 2em;
            font-weight: 500;
        }

        h2 {
            font-size: 2em;
        }

        h3 {
            font-size: 1.5em;
            font-weight: 500;
        }

        h4 {
            font-size: 1.5em;
        }

        h5 {
            font-size:1.3em;
        }
    }


.animate {
    opacity: 0;
}
/*Text Colors*/

.text-white {
    color: #FFFFFF;
}

.text-tan {
    color: #E7DED9;
}

.text-light-brown {
    color: #988780;
}

.text-dark-brown {
    color: #695853;
}

.text-red {
    color: #8F6152;
}

.text-navy {
    color: #13292A;
}

.text-shadow {
    color:rgba(0,0,0,.6);
}


/*fade */

.fade-up {
    animation: fadeUp .8s ease 1;
}

@keyframes fadeUp {
    from {
        opacity:0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/*Background Colors*/
.focus-bg-red {
    background-color: #8F6152;
    color: #E7DED9;
    text-align: center;
    border-radius: 5px;
    padding: .8%;
}

    .bg-white, .bg-none {
        color: #FFFFFF;
    }

    .bg-tan {
        background-color: #E7DED9;
    }

    .bg-navy {
        background-color: #13292A;
    }

    .bg-red {
        background-color: #8F6152;
    }

    .bg-light-brown {
        background-color: #988780;
    }

    .bg-dark-brown {
        background-color: #695853;
    }


    /*Buttons*/

.cta-button, .text-nav-m, .cta-button-wh {
    cursor: pointer;
    transition-duration: .3s;
    border: 2px solid transparent;
    background-color: #8F6152;
    color: #E7DED9;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    text-transform: uppercase;
    width: auto;
    min-width: 100px;
    padding: 1%;
}

.cta-button-white {
    cursor: pointer;
    transition-duration: .3s;
    border: 2px solid #E7DED9;
    background-color: #E7DED9;
    color: #000000;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    text-transform: uppercase;
    width: auto;
    min-width: 100px;
    padding: 1%;
}

.cta-button-rev {
    cursor: pointer;
    transition-duration: .3s;
    border: 2px solid transparent;
    background-color: #13292A;
    color: #E7DED9;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    text-transform: uppercase;
    width: auto;
    min-width: 100px;
    padding: 1%;
}

    .cta-button-rev:hover {
        border: 2px solid #13292A;
        background-color: transparent;
        color: #13292A;
    }
.cta-button-white:hover {
    border: 2px solid #E7DED9;
    background-color: transparent;
    color: #8F6152;
}

        .cta-button:hover {
            border: 2px solid #8F6152;
            background-color: transparent;
            color: #8F6152;
        }

.cta-button-wh:hover {
    border: 2px solid #E7DED9;
    background-color: transparent;
    opacity: 1;
    color: #E7DED9;
}

.text-nav-m:hover {
    border: 2px solid #E7DED9;
    background-color: transparent;
    color: #E7DED9;
}

.nmauto {
    margin: 0% !important;
}
    /*Widths*/

.row-full{
    width: 100%;
    padding:0%;
    margin: auto;
}

.row-lg {
    width: 80%;
    padding: 3%;
    margin: auto;
}

.row-half {
    width: 50%;
    padding: 3%;
    margin: auto;
}

.row-third {
    width: 33%;
    padding: 3%;
    margin: auto;
}

.row-twothird {
    width: 66%;
    padding: 3%;
    margin: auto;
}


@media (max-width: 1000px) {
    .row-lg, .row-half, .row-third {
        width: 100%;
        padding: 2%;
    }
}

    /*circles*/

    .bg-cirlce-1 {
        position: absolute;
        border-radius: 100%;
        width: 200px;
        height: 200px;
    }

    .bg-cirlce-2 {
        position: absolute;
        border-radius: 100%;
        width: 150px;
        height: 150px;
    }

    .bg-cirlce-3 {
        position: absolute;
        border-radius: 100%;
        width: 100px;
        height: 100px;
    }

    .bg-cirlce-4 {
        position: absolute;
        border-radius: 100%;
        width: 50px;
        height: 50px;
    }

    /*Footer*/

    footer {
        z-index: 3000;
    }

    footer p {
        font-size: 1.2em;
    }

    .social-icons {
        margin: auto;
        text-align: right;
    }

    .social-icons svg {
            width: 40px;
            height: 40px;
    }

    @media screen and (max-width: 1000px){
        .social-icons svg {
            width: 160%;
            height:160%;
        }
        .social-icons {
            margin: 10%;
        }
    }

    /*animation to fade in */

    .fade-in {
        animation: fadeIn 1s ease-in 1;
    }

    @keyframes fadeIn{
        from {
            opacity: 0;
            transform:translateY(-30%);
        }
        from {
            opacity: 1;
            transform: translateY(0%);
        }
    }

/*Links*/

.nav-link {
    border-top: 2px solid transparent;
}

.nav-link:hover {
    border-top:2px solid white;       
}

@media screen and (max-width: 1000px){
    a:hover {
        opacity: .8;
    }

    .nav-link:hover {
        color: inherit;
        border-top: 2px solid transparent;
    }
}
error {
    color:indianred;
    font-size:.8em;
}